.interior-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.company-logo{
    margin: auto 10px;
    display: inline-block;
    max-height: 220px;
    overflow: hidden;
    vertical-align: middle;
}
img{
    width: 100%;
    object-fit: contain;
}

.job-description{
    align-items: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.job-description p{
    font-size: 16px;
    font-weight: 500;
}
.job-description span{
    font-size: 20px;
    font-weight: 700;
}
.description{
    font-weight: 700;
}

.btn-edit, .btn-delete{
    border: none;
    background: none;
    float: right;
    color: black;
}
.btn-edit:hover{
    color: rgb(33, 219, 33);
}
.btn-delete:hover{
    color: red;
}