<div class="interior-card">
    <div class="company-logo col-sm-4 col-lg-3">
        <img *ngIf="job.urlImg !== null" [src]="job.urlImg">
    </div>
    <!--<img *ngIf="job.urlImg === null || job.urlImg == ''" src="../../../assets/images/developer.png">-->
    <div class="job-description col-sm-6 col-lg-4">
        <p><span>{{job.company}}</span> ({{job.dateStart}} - {{job.dateEnd}})</p>
        <p class="description">{{job.description}}</p>
    </div>
    <button *ngIf="log==true" class="btn-delete" (click)="deleteData(job.id)"><fa-icon [icon]="delete"></fa-icon></button>
    <button *ngIf="log==true" class="btn-edit"><fa-icon [icon]="faPen" (click)="update.showModal(job)"></fa-icon></button>
</div>


<!--MODAL UPDATE-->
<app-update #update (updateDataExperience)="refreshData($event)"></app-update>