.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 30vh auto;
}

.textError{
    text-align: center;
    font-weight: 700;
}
