.social-networks{
    width: 45%;
    display: flex;
    float: left;
}

a{
    margin: 0 7px;
    font-size: 30px;
    color: white;
}
.facebook:hover{
    color: rgb(49, 148, 187);
}
.linkedin:hover{
    color: rgb(8, 136, 187);
}
.github:hover{
    color: rgb(182, 181, 181);
}