.projects{
    width: 90%;
    background: rgb(197, 197, 197);
    margin: 20px auto;
    padding: 20px auto;
    border-radius: 25px;
    overflow: hidden;
    color: black;
}
.btn-add{
    float: right;
    border: none;
    background: none;
}
.btn-add:hover{
    color: rgb(1, 109, 250);
}

h3{
    margin: 30px;
    display: inline-block;
}

.project-card{
    width: 350px;
    height: 350px;
    margin: 30px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}