.modal-content{
    width: 90%;
}

.form-update{
    color: black;
    padding: 30px;
    width: 100%;
}

.buttons{
    margin: 10px auto;
    text-align: center;
}
.buttons button{
    margin: 10px;
}