.btn-edit, .btn-delete{
    border: none;
    background: none;
    float: right;
    color: black;
}
.btn-edit:hover{
    color: rgb(33, 219, 33);
}
.btn-delete:hover{
    color: red;
}
.card{
    width: 300px;
    height: 350px;
    background-color: rgb(197, 197, 197);
    border-radius: 8px;
    border: 2px solid black;
    overflow: hidden;
    text-align: center;
    box-shadow:  0 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.25s;
}
.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.img-project{
    height: 50%;
    width: 100%;
}
.img-project img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
h3{
    margin: 10px;
}
p{
    font-weight: 500;
    margin: 10px;
}

a{
    color: black;
}
a:hover{
    color: rgb(0, 81, 255);
}