.personal-data{
    background: rgb(197, 197, 197);
    width: 90%;
    height: 500px;
    margin: 20px auto;
    padding: 0;
    border-radius: 25px;
    color: black;
    overflow: hidden;
}

.banner{
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo{
    position: absolute;
    background: none;
    bottom: 35%;
    left: 5%;
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    z-index: 100;
}
.profile-photo{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    height: 50%;
    padding: 30px;
}
h3{
    margin-top: 50px;
}
p{
    font-size: 18px;
    font-weight: 500;
}

.other-info{
    display: inline-block;
    position: relative;
    bottom: 100px;
    left: 70%;
    width: 350px;
}
.other-info img{
    width: 70px;
}

.btn-edit{
    position: relative;
    bottom: 260px;
    left: 90%;
    border: none;
    background: none;
}
.btn-edit:hover{
    color: rgb(33, 219, 33);
}