<div class="personal-data">
    <img [src]="banner" class="banner">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5EMR4jMOgBDIwMpHE3lVxAh99JGBcyg6uxHj2zUCCEtMmCFp5zfaZVPRqYyYW6gDolts&usqp=CAU"  class="profile-photo" alt="profile-Photo">
    <div class="info">
        <h3>Ramón Gutierrez</h3>
        <p>Desarrollador web Full Stack</p>
        <div class="other-info">
            <img [src]="practiaLogo" alt="Practia Global">
            <p>Practia Global</p>
        </div>
        <div class="btn-edit">
            <a href="#"><fa-icon [icon]="faPen"></fa-icon></a>
        </div>
    </div>
</div>
