<div class="personal-data">
    <img [src]="personalData.banner" class="banner">
    <img [src]="personalData.urlImg"  class="profile-photo" alt="profile-Photo">
    <div class="info">
        <h3>{{personalData.name}} {{personalData.lastName}}</h3>
        <p>{{personalData.title}}</p>
        <p>{{personalData.address}}</p>
        <div class="other-info">
            <img [src]="practiaLogo" alt="Practia Global">
            <p>Practia Global</p>
        </div>
        <div>
            <button class="btn-edit"  (click)="update.showModal(personalData)"><fa-icon [icon]="faPen"></fa-icon></button>
        </div>
    </div>
</div>

<!--COMIENZO DE MODAL PAR UPDATE-->
<app-update-modal #update (updateData)="refreshData($event)"></app-update-modal>

<!--
    IMAGEN DE PERFIL POR SI SE BORRA
    https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5EMR4jMOgBDIwMpHE3lVxAh99JGBcyg6uxHj2zUCCEtMmCFp5zfaZVPRqYyYW6gDolts&usqp=CAU
-->