<button *ngIf="log==true" class="btn-delete" (click)="deleteSkill(skill.id)"><fa-icon [icon]="delete"></fa-icon></button>
<button *ngIf="log==true" class="btn-edit" (click)="update.showModal(skill)"><fa-icon [icon]="faPencil"></fa-icon></button>
<div class="skill-card-circle" id="skill-card-circle">
    <div class="circle" id="circle">
        <div class="mask half">
            <div class="fill f" id="fill"></div>
        </div>
        <div class="mask full" id="fill2">
            <div class="fill"></div>
        </div>
    </div>
    <div class="average" id="average">{{skill.average}}%</div>
</div>
<div class="skill-name">{{skill.name}}</div>

<!--============================= MODAL UPDATE SKILL =======================================-->
<app-update-skill #update (updated)="refreshData($event)"></app-update-skill>