.skill-card-circle{
    margin: 20px auto;
    width: 150px;
    height: 150px;
    background: rgb(168, 167, 167);
    border-radius: 50%;
    border: 1px solid #cdcbd0;
}

.circle .mask,
.circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #16d830;
}

.circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .mask.full,
  .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(var(--var-degree));
  }
  
  @keyframes fill{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(var(--var-degree));
    }
  }

  .average{
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: rgb(197, 197, 197);
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: black;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em
  }
  .skill-name{
      vertical-align: baseline;
      text-align: center;
      font-weight: 700;
      font-size: 20px;
  }

  .btn-edit, .btn-delete{
    border: none;
    background: none;
    float: right;
}
.btn-edit:hover{
    color: rgb(33, 219, 33);
}
.btn-delete:hover{
    color: red;
}