<ng-template #updateSkillModal  let-modal>
    <form [formGroup]="form" class="form-update" (ngSubmit)="onSubmit($event)">
        <h3> Actualizar Skill</h3>
        <div class="m-3">
            <label for="id" class="form-label">ID:</label>
            <input type="text" formControlName="id" class="form-control" id="id"
            [ngClass]="{'is-invalid': Id?.errors && Id?.touched, 'is-valid': !Id?.errors && Id?.touched}" readonly>
        </div>
        <div class="m-3">
            <label for="name" class="form-label">Nombre:</label>
            <input type="text" formControlName="name" class="form-control" id="name"
            [ngClass]="{'is-invalid': Name?.errors && Name?.touched, 'is-valid': !Name?.errors && Name?.touched}">
            <div *ngIf="Name?.errors && Name?.touched">
                <p *ngIf="Name?.hasError('required')" class="text-danger">
                    El nombre de la skill es requerido
                </p>
            </div>
        </div>
        <div class="m-3">
            <label for="average" class="form-label">Porcentaje:</label>
            <input type="text" formControlName="average" class="form-control" id="average"
            [ngClass]="{'is-invalid': Average?.errors && Average?.touched, 'is-valid': !Average?.errors && Average?.touched}">
            <div *ngIf="Average?.errors && Average?.touched">
                <p *ngIf="Average?.hasError('required')" class="text-danger">
                    El nivel de la skill es requerido
                </p>
            </div>
        </div>
        <div class="m-3">
            <label for="urlImg" class="form-label">URL Imágen</label>
            <input type="text" formControlName="urlImg" class="form-control" id="urlImg"
            [ngClass]="{'is-invalid': urlImg?.errors && urlImg?.touched, 'is-valid': !urlImg?.errors && urlImg?.touched}">
        </div>
        <div class="buttons">
            <button class="btn btn-danger">Cancelar</button>
            <button *ngIf="!Name?.errors && !Average?.errors" class="btn btn-success">Actualizar</button>
        </div>
    </form>
</ng-template>

