.education{
    background: rgb(197, 197, 197);
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 25px;
    overflow: hidden;
    color: black;
}

h3{
    margin: 30px;
    display: inline-block;
}

.card-education{
    background: rgb(156, 156, 156);
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 15px;
    align-items: center;
}

.card-education img{
    display: inline-block;
    width: 150px;
    max-width: 30%;
}

.education-description{
    display: inline-block;
    margin: 30px;
    width: 70%;
    vertical-align: middle;
}

.education-description p{
    font-size: 16px;
    font-weight: 500;
}
.education-description span{
    font-size: 20px;
    font-weight: 700;
}
.description{
    font-weight: 700;
}

.btn-add{
    border: none;
    background: none;
    float: right;
}
.btn-add:hover{
    color: rgb(1, 109, 250);
}