:root{
    --var-degree: 0deg;
}

h3{
  margin: 30px;
  display: inline-block;
}

.btn-add{
  float: right;
  border: none;
  background: none;
}
.btn-add:hover{
  color: rgb(1, 109, 250);
}

.skills{
    background: rgb(197, 197, 197);
    margin: 20px 30px;
    padding: 30px;
    border-radius: 25px;
    overflow: hidden;
    color: black;
}

.cards{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.skill-card{
    width: 200px;
    margin: 30px auto;
}