<div class="skills">
    <div class="skill-card">
        <div class="skill-card-circle">
            <div class="circle">
                <div class="mask half">
                    <div class="fill" id="fill"></div>
                </div>
                <div class="mask full" id="fill2">
                    <div class="fill"></div>
                 </div>
            </div>
            <div class="average" id="average">95%</div>
        </div>
        <div class="skill-name">HTML5</div>
    </div>
</div>