.experience{
    width: 90%;
    background: rgb(197, 197, 197);
    margin: 20px auto;
    padding: 20px auto;
    border-radius: 25px;
    overflow: hidden;
    color: black;
}
.btn-add{
    border: none;
    background: none;
    float: right;
    color: black;
}
.btn-add:hover{
    color: rgb(1, 109, 250);
}

h3{
    margin: 30px;
    display: inline-block;
}


.card-job{
    background: rgb(156, 156, 156);
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 15px;
    align-items: center;
}
