<ng-template #addProjectModal  let-modal class="add">
    <form [formGroup]="form" class="form-update" (ngSubmit)="onSubmit($event)">
        <h3> Agregar Proyecto</h3>
        <div class="m-3">
            <label for="name" class="form-label">Nombre:</label>
            <input type="text" formControlName="name" class="form-control" id="name"
            [ngClass]="{'is-invalid': Name?.errors && Name?.touched, 'is-valid': !Name?.errors && Name?.touched}">
            <div *ngIf="Name?.errors && Name?.touched">
                <p *ngIf="Name?.hasError('required')" class="text-danger">
                    El nombre del proyecto es requerido
                </p>
            </div>
        </div>
        <div class="m-3">
            <label for="description" class="form-label">Descripción:</label>
            <input type="text" formControlName="description" class="form-control" id="description"
            [ngClass]="{'is-invalid': Description?.errors && Description?.touched, 'is-valid': !Description?.errors && Description?.touched}">
            <div *ngIf="Description?.errors && Description?.touched">
                <p *ngIf="Description?.hasError('required')" class="text-danger">
                    La descripción es requerida
                </p>
            </div>
        </div>
        <div class="m-3">
            <label for="urlGit" class="form-label">URL GitHub:</label>
            <input type="text" formControlName="urlGit" class="form-control" id="urlGit"
            [ngClass]="{'is-invalid': urlGit?.errors && urlGit?.touched, 'is-valid': !urlGit?.errors && urlGit?.touched}">
        </div>
        <div class="m-3">
            <label for="urlImg" class="form-label">URL Imágen:</label>
            <input type="text" formControlName="urlImg" class="form-control" id="urlImg"
            [ngClass]="{'is-invalid': urlImg?.errors && urlImg?.touched, 'is-valid': !urlImg?.errors && urlImg?.touched}">
        </div>
        <div class="buttons">
            <button class="btn btn-danger">Cancelar</button>
            <button *ngIf="!Name?.errors && !Description?.errors" class="btn btn-success">Agregar</button>
        </div>
    </form>
</ng-template>

